@model Universidad.Models.Domain.Notice
@{
    Layout = "_Layout";
}
<div class="movie-detail w-90 m-auto" >
  

    <div class="detail-container">
        <h2><b>@Model.Occurrence</b></h2>
        <br />
        <br />
        <h3><b>Fecha De Publicación:</b> @Model.Publicationdate</h3>
        <br />
        <h3><b>Descripción :</b> @Model.Descripcion1</h3>

        <center><img alt="image" src="/Uploads/@Model.OccurrenceImage"></center>
    </div>
</div>
<br />
<br />
<center>
<div class="w-80 m-auto">
    <a href="/Home/Index" class="btnn btn-defaultt">Regresar</a>
</div>
</center>