@model Universidad.Models.DTO.LoginModel
@{
}
<center>
    <form class="w-50" asp-action="Login" method="post">
        <h2 class="pb-10"><b>INICIAR SESIÓN</b></h2>
        <div class="input-container">
            <label asp-for="Username" class="w-50"><b>Nombre De Usuario</b></label>
            <input type="text" class="input" asp-for="Username">
        </div>
        <div class="message-box pd-x-28 error">
            <span asp-validation-for="Username"></span>
        </div>


        <div class="input-container">
            <label asp-for="Password" class="w-50"><b>Contraseña</b></label>
            <input type="password" class="input" asp-for="Password">
        </div>
        <div class="message-box pd-x-28 error">
            <span asp-validation-for="Password"></span>
        </div>


        @if (TempData["msg"] != null)
        {
            <div class="alert mb-1">
                @TempData["msg"]
            </div>
        }
        <center>

            <button class="btnn btn-defaultt" type="submit">Entrar</button>
            
        </center>

    </form>
</center>