@model IEnumerable<Universidad.Models.Domain.Category>
@{
}

<div class="tbl-container">
    <center>
        <h2><b>Todos  Los Tipos De Carreras</b></h2>
    </center>

    <table>
        <tr>
            <th>Nombre</th>
            <th>Accion</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CategoryName</td>
                <td>
                    <a href="/Category/Edit?id=@item.Id" class="btnn btn-defaultt"><i class="fa fa-edit"></i></a>
                    <a onclick="return window.confirm('Estas seguro de eliminar la carrera?')" href="/Category/Delete?id=@item.Id" class="btnn btn-dangerr"><i class="fa fa-trash"></i></a>
                </td>
            </tr>
        }

    </table>
    <br />
    <br />
    <center>
        <a href="/Category/Add" class="btnn btn-secc">Regresar</a>
    </center>
</div>