@model Universidad.Models.DTO.NoticeListVm
@{
}
<center>
    <div class="tbl-container">
        <h2><b>Todas Las Noticias</b></h2>

        <table>
            <tr>

                <th>Nombre De La Noticia</th>
                <th>Tipo De La Noticia</th>
                <th>Imagen</th>
                <th>Fecha De Publicación</th>
                <th>Descripcion De La Noticia</th>
                <th>Accion</th>
            </tr>
            @foreach (var item in Model.NoticeList)
            {
                <tr>

                    <td>@item.Occurrence</td>
                    <td>@item.CatalogNames</td>
                    <td><img style="height:100px;width:90px" src="/Uploads/@item.OccurrenceImage" /></td>
                    <td>@item.Publicationdate</td>
                    <td>@item.Descripcion1</td>
                    <td>
                        <a href="/Notice/Edit?id=@item.Id" class="btnn btn-secc"><i class="fa fa-edit"></i></a>
                        <a onclick="return window.confirm('Estas seguro de eliminar está carrera?')" href="/Notice/Delete?id=@item.Id" class="btnn btn-dangerr"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
            }

        </table>
        <br />
        <br />
        <Center>
            <a href="/Notice/Add" class="btnn btn-secc">Regresar</a>
        </Center>
    </div>
</center>